@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 85%;
    border-radius: 5%;
}

img {
    border-radius: 5%;
    width: 90%;
    margin-top: 5%;
}

.heading--box {
    width: 95%;
}

.heading--box h2 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin: 20px 6px 5px;
}

.text--box {
    width: 85%;
}

.text--box p {
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin: 10px 6px 20px;
}

.attribution {
    font-size: 8px;
}

@media (min-width: 425px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 725px) {
    .container {
        width: 50%;
    }

    .heading--box {
        width: 70%;
    }

    .text--box {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 30%;
    }

    .heading--box {
        width: 90%;
    }

    .text--box {
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 25%;
    }

    .heading--box {
        width: 75%;
    }

    .text--box {
        width: 75%;
    }
}
